<!doctype html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Refactored Spoon</title>
      {% block stylesheets %}
      <!-- Bootstrap CSS -->
      <link href="{{ url_for('static', filename='css/bootstrap-5.3.3.min.css') }}" rel="stylesheet">
      <!-- Twitter Bootstrap CSS -->
      <link href="{{ url_for('static', filename='css/twitter-bootstrap-5.3.0.min.css') }}" rel="stylesheet">
      <!-- DataTables CSS -->
      <link href="{{ url_for('static', filename='css/dataTables.bootstrap5-2.1.5.min.css') }}" rel="stylesheet">
      {% endblock stylesheets %}
  </head>
  <body>
    {% include 'layouts/navigation.html' %}
    <div class="wrapper">
      {% block content %}{% endblock %}

      <div class="container mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="alert-container">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert" id="flash-message">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
      </div>

    </div>
    {% block javascripts %}
      <!-- Bootstrap JS Bundle with Popper -->
      <script src="{{ url_for('static', filename='js/bootstrap-5.3.3.bundle.min.js') }}"></script>
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
      <!-- Twitter Bootstrap JS -->
      <script src="{{ url_for('static', filename='js/twitter-bootstrap-5.3.0.bundle.min.js') }}"></script>
      <!-- DataTables JS -->
      <script src="{{ url_for('static', filename='js/dataTables-2.1.5.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/dataTables.bootstrap5-2.1.5.min.js') }}"></script>
      <!-- Custom JS -->
      <script src="{{ url_for('static', filename='js/flash-messages-timeout.js') }}"></script>
      <script src="{{ url_for('static', filename='js/dataTables-custom-settings.js') }}"></script>
    {% endblock javascripts %}
  </body>
</html>
