{% extends "layouts/base.html" %}

{% block content %}
<div class="container">
  <h1 class="my-4">Editar Restaurant</h1>
  <form method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Nom</label>
      <input type="text" class="form-control" id="name" name="name" value="{{ restaurant.name }}" required>
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Adreça</label>
      <input type="text" class="form-control" id="address" name="address" value="{{ restaurant.address }}" required>
    </div>
    <div class="mb-3">
      <label for="city_name" class="form-label">Ciutat</label>
      <input type="text" class="form-control" id="city_name" name="city_name" value="{{ restaurant.city_name }}" required>
    </div>
    <div class="mb-3">
      <label for="province_name" class="form-label">Provincia</label>
      <input type="text" class="form-control" id="province_name" name="province_name" value="{{ restaurant.province_name }}" required>
    </div>
    <div class="mb-3">
      <label for="region_name" class="form-label">Regió</label>
      <input type="text" class="form-control" id="region_name" name="region_name" value="{{ restaurant.region_name }}" required>
    </div>
    <div class="mb-3">
      <label for="country_name" class="form-label">Pais</label>
      <input type="text" class="form-control" id="country_name" name="country_name" value="{{ restaurant.country_name }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar canvis</button>
  </form>
</div>
{% endblock content %}